{{!-- Final slide --}}
<section class="section-title" data-background="{{ theme.mainColor }}" data-transition="{{ theme.specialTransition }}">
	<h2>{{ goodbyeHeader }}</h2>
	<h3>{{ goodbyeText }}</h3>
</section>
