// ================================================================================
// MAIN SASS FILE
// Imports other Sass partials and provides theming variables
// ================================================================================

// --------------------------------------------------------------------------
// IMPORTS
// --------------------------------------------------------------------------

// Default mixins and settings
@import '../bower_components/revealjs/css/theme/template/mixins';
@import '../bower_components/revealjs/css/theme/template/settings';
@import './fonts.scss';

// --------------------------------------------------------------------------
// YOUR THEME
// --------------------------------------------------------------------------

// Colors
$baseTextColor: #231C27;
$mainColor: #231C27;
$headingColor: $mainColor;
$sectionHeadingColor: #F3F3F3;
$linkColor: $mainColor; // this also includes the progress bar at the bottom
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: $mainColor;
$backgroundColor: #F3F3F3; // this is the default, but can be overridden in the index.html "context" object
$lightContrast: #753637;

$color--twitter: rgb(0,200,200);
$color--blockQuote: lighten($lightContrast, 3%);

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:900,400);
$mainFont: 'League Spartan', sans-serif;
$headingFont: $mainFont;

// Other
$headingTextShadow: none;
$headingTextTransform: none;
$borderRadiusBase: 7px;
$paddingBase: 2rem;
$marginBase: 1rem;

// Theme template
@import '../bower_components/revealjs/css/theme/template/theme';





// --------------------------------------------------------------------------
// REVEAL STYLE RESET
// --------------------------------------------------------------------------

.reveal {
	font-size: 300%;
	color: $baseTextColor;

	// Branding
	strong {
		color: $mainColor;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: left;
	}

	h2 {
		font-size: 4.5rem;
	}

	h3 {
		font-size: 4rem;
	}

	// h3 contrast
	h3 {
		color: darken( $baseTextColor, 10%);
	}

	// heading cushion
	h2 {
		margin-bottom: $marginBase;
	}

	// general cushions
	p,
	ul,
	ol {
		margin: $marginBase auto;
	}

	// lists
	ul,
	ol {
		max-width: 75%;
	}

	// Images
	section img {
		background: transparent;
		border: 0;
		box-shadow: none;
	}

	// Code
	pre {
		box-shadow: none;

		code {
			border-radius: $borderRadiusBase;
			padding: 0 $paddingBase;
		}
	}

	.code {
		font-family: monospace;
		color: $mainColor;
	}

	.constrain-width {
		max-width: 300px;
	}

	// Links
	a {
		text-decoration: underline;
	}

	blockquote {
		padding: $paddingBase;
		background: $color--blockQuote;
		border-radius: $borderRadiusBase;
	}

	// Section title slides
	& .slides {
		text-align: left;
	}
	.section-title {
		background: $mainColor;

		h1,
		h2,
		h4,
		h5,
		h6 {
			color: $sectionHeadingColor;
		}

		h3,
		ul,
		ol,
		p {
			color: darken($sectionHeadingColor, 40%);
		}

		strong {
			color: #fff;
		}

		&--alternate {
			background: $lightContrast;
		}
	}

	/*gross hack*/
	& .invert--header {
		& h2{
			color: $sectionHeadingColor;
			background: rgba(0, 0, 0, 0.5);
			padding: .35em 0 .15em;
			text-align: center;
		}
	}

	& .social-links {
		font-size: 1rem;

		&__twitter:hover, &__twitter:active, &__twitter {
			color: $color--twitter;
		}
	}

	& .quote {
		text-align: left;
		color: $sectionHeadingColor;
		background: $lightContrast;

		&--block {
			font-style: normal;
			background: $color--blockQuote;
		}

		& .attribution {
			font-size: 2rem;
			padding-top: 2rem;
			font-style: italic;
			text-align: right;
		}
	}

	& .image{

		&__attribution {
			position: fixed;
			bottom: -15rem;
			right: 1rem;
			text-align: right;
			font-size: .75rem;
		}

		&__attribution--invert {
			position: fixed;
			bottom: -15rem;
			right: 1rem;
			text-align: right;
			font-size: .75rem;
			color:$sectionHeadingColor;
		}
	}

	& .profile__bio {
		display: block;
	}

	& .code__list {
		list-style: none;
	}

	& .profile {
		float:left;
		display: block;
		padding-right: 1em;
	}

	& .social-links__list {
		list-style: none;
		font-size: .65em;
	}

	& .bio {
		font-size: .5em;

		&__header {
			margin: 0;
			padding: 0;
			line-height: .35em;
		}
	}
}
